#modal-side
{
	display:block;
	position:fixed;
	top:calc(0px + 53px);
	left:0;
	width:100%;
	height:calc(200vh - var(--menuHeight));
	background:#0005;
	z-index:0;

	display:none;
	opacity:0;
	animation-duration:0.2s;
}
#modal-side .background
{
	cursor:pointer;
	width:100%; 
	height:100vh; 
	position:absolute; 
	z-index:-1;
}
/* ======= */
/* CONTENT */
/* ======= */
#modal-side .content
{
	background:#fff;
	width:80%;
	width:400px;
	height:calc(100vh - var(--menuHeight));
	overflow-y:auto;
	animation-duration:0.2s;
}

@media (max-width: 992px)
{
	#modal-side .content
	{
		width:80%;
	}
}

#modal-side .content.left
{
	float:left;
	margin-left:-100%;
}

#modal-side .content.right
{
	float:right;
	margin-right:-100%;
}

#modal-side.modal_background_fadein { animation-name:modalBackgoundFadeIn; }
#modal-side.modal_background_fadeout { animation-name:modalBackgoundFadeOut; }
#modal-side .content.modal_left_fadein { animation-name:contentLeftFadeIn; }
#modal-side .content.modal_right_fadein { animation-name:contentRightFadeIn; }
#modal-side .content.modal_left_fadeout { animation-name:contentLeftFadeOut; }
#modal-side .content.modal_right_fadeout { animation-name:contentRightFadeOut; }

@keyframes contentLeftFadeIn 
{
  0%   {margin-left: -100%;}
  100% {margin-left: 0%;}
}

@keyframes contentRightFadeIn 
{
  0%   {margin-right: -100%;}
  100% {margin-right: 0%;}
}

@keyframes contentLeftFadeOut
{
  0%   {margin-left: 0%;}
  100% {margin-left: -100%;}
}

@keyframes contentRightFadeOut
{
  0%   {margin-right: 0%;}
  100% {margin-right: -100%;}
}

@keyframes modalBackgoundFadeIn
{
	0%   {opacity: 0;}
  	100% {opacity: 1;}
}

@keyframes modalBackgoundFadeOut
{
	0%   {opacity: 1;}
  	100% 
	{
		opacity: 0;
	}
}